
.vs/WPF-NVVM/v15/.suo
.vs/WPF-NVVM/v15/.suo
.vs/WPF-NVVM/v15/.suo
.vs/WPF-NVVM/v15/Server/sqlite3/storage.ide
*.exe
.vs/WPF-NVVM/v15/.suo
QLNS/obj/Debug/QLNS.exe
QLNS/ViewModels/BookViewModel.cs
QLNS/obj/Debug/QLNS.exe
QLNS/obj/Debug/QLNS.pdb
